/* fonts */
@font-face {
  font-family: 'Metropolis Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Metropolis Regular'), url('Metropolis-Regular.woff') format('woff');
}

* {
  font-family: 'Metropolis', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  background-color: white;
}

p{
  color: #9B9B9B;
}
a:link,
a:visited {
  text-decoration: none !important;
  color: black;
  cursor: pointer !important;
}


/* ============== login================== */

#login .text-regis {
  text-align: center;
  padding-top: 1em;
}
#login .container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 450px;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
#login .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: rgba(219, 48, 34, 1);
}
#login .nav-pills .nav-link {
  width: 100px; 
}
#login img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#login .btn{
  color: white;
  background-color:  rgba(219, 48, 34, 1);
}
#login .btn:hover{
  color: white;
  background-color:  rgb(255, 21, 0);
}
#login .link{
  color: rgba(219, 48, 34, 1);
}
/* ============== end login ================== */

/* ============== register ================== */
#register .text-regis {
  text-align: center;
  padding-top: 1em;
}
#register .container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
#register .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: rgba(219, 48, 34, 1);
}
#register .nav-pills .nav-link {
  width: 100px;
}
#register img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#register .btn {
  color: white;
  background-color: rgba(219, 48, 34, 1);
}
#register .btn:hover {
  color: white;
  background-color: rgb(255, 21, 0);
}
#register .link {
  color: rgba(219, 48, 34, 1);
}
/* ============== end register ================== */


/* ============== index navbar================== */
#navbar-index .input {
  width: 600px;
  border-radius: 25px !important;
}
#navbar-index .logo-shopid {
    margin-bottom: 15px;
    margin-left: 100px;
  }
  #navbar-index .rounded-pill {
  width: 100px;
}
#navbar-index .navbar {
  background: #ffffff;
  box-shadow: 0px 6px 40px rgba(173, 173, 173, 0.25);
}
#navbar-index .text-login {
  background-color: rgba(219, 48, 34, 1);
}
#navbar-index .text-login a {
  color: #ffffff;
  text-decoration: none;
}
#navbar-index .text-login.btn:hover{
  background-color: rgb(255, 21, 0);
}
#navbar-index .text-register {
  background-color: white;
  color: black;
}
#navbar-index .text-register a:hover{
  color: black;
  text-decoration: none;
}
#navbar-index .text-register.btn:hover{
  background-color: grey;
}

@media (max-width: 576px) {
  #navbar-index .navbar-collapse {
    background-color: #ffffff;
  }

  #navbar-index .navbar {
    height: 80px;
  }

  #navbar-index .logo-shopid {
    margin-bottom: 15px;
    margin-left: 50px;
  }

  #navbar-index .navbar-nav {
    margin-left: 20px;
  }

  #navbar-index  #navbar-index .input {
    width: 100%;
    border-radius: 15px;
  }

  #navbar-index .form-inline {
    margin-left: 15px;
    margin-top: 10px;
  }
}
/* ============== end index navnbar ================== */


/* ============== index ================== */
.carousel {
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
p {
  color: #9b9b9b;
}
.product {
  background: #ffffff;
  box-shadow: 0px 0px 14px rgba(173, 173, 173, 0.25);
}
.category{
padding-left: 30px;
}
@media (max-width: 576px) {
  .title{
    text-align: center;
  }
  .category{
   width: 100%;
   padding-left: 30px;
  }
  .img-category{
  display: block;
  margin-left: auto;
  margin-right: auto;
 
  }
}  
/* ============== end index ================== */


/* ============== modal filter ================== */
#navbar #filter .modal-header {
  padding: 20px 20px;
  box-shadow: 0px 0px 6px 0px rgba(53, 50, 50, 0.25);
}

#filter .modal-body {
  background-color: lightgrey;
  padding: 0;
}

#filter .text-color {
  color: black;
  font-weight: 600;
}

#filter .container {
  background-color: white;
  padding: 20px 20px;
}

#filter .color-pallets .btn-color {
  padding: 3px;
  margin-right: 12px;
  border-radius: 50%;
  box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.2);
}

#filter .color-pallets .btn-color:focus,
.btn-color:active {
  background-color: rgba(219, 48, 34, 1);
  color: white;
  border: none;
}

#filter .size-charts .btn-size {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  margin-right: 12px;
}

#filter .list-categories .btn-category {
  width: 100%;
  height: 40px;
  border: 1px solid black;
  margin-right: 12px;
}

#filter .list-categories .btn-category:focus,
.btn-category:active {
  color: white;
  background-color: rgba(219, 48, 34, 1);
  border: none;
}

#filter .size-charts .btn-size:focus,
.btn-size:active {
  background-color: rgba(219, 48, 34, 1);
  color: white;
  border: none;
}

#filter .color-pallets .btn-color:active {
  border: 1px solid rgba(219, 48, 34, 1);
}

#filter .form-select {
  width: 100%;
  border: none;
  padding: 5px;
}

#filter .modal-footer {
  box-shadow: 0px -8px 10px 0px rgba(217, 217, 217, 0.25);
}

#filter .modal-footer .btn-discard {
  width: 100%;
  border: 1px solid black;
  border-radius: 24px;
}

#filter .modal-footer .btn-apply {
  width: 100%;
  color: white;
  border: none;
  border-radius: 24px;
  background-color: rgba(219, 48, 34, 1);
}

#filter .modal-footer .btn-apply:hover {
  background-color: rgb(173, 0, 0);
  color: white;
}

#filter .modal-footer .btn-discard:hover {
  background-color: lightgrey;
  border: none;
}

/* ============== end modal filter ================== */

/* ========================== navbar ============================== */
#navbar .input {
  width: 507px;
  border-radius: 25px;
}

#navbar .navbar {
  background: #ffffff;
  box-shadow: 0px 6px 40px rgba(173, 173, 173, 0.25);
  height: 100px;
}

#navbar .logo {
  margin-left: 100px;
}

#navbar .navbar-nav {
  margin-left: 100px;

}

#navbar .form-inline {
  margin-left: 15px;
}

#navbar .filter {
  font-size: 18px;
  border: 1px solid;
  border-radius: 10px;
  padding: 5px 10px 5px;
  color: grey;
}

#navbar .filter:hover,
#navbar .cart:hover,
#navbar .bell:hover,
#navbar .massage:hover,
#navbar .profile:hover {
  color: rgba(219, 48, 34, 1);
}

#navbar .search {
  position: absolute;
  margin-left: 575px;
  color: grey;
}

#navbar .cart {
  font-size: 24px;
  margin-right: 24px;
  margin-left: 100px;
  color: grey;
}

#navbar .bell {
  font-size: 24px;
  margin-right: 24px;
  color: grey;
}

#navbar .massage {
  font-size: 24px;
  margin-right: 24px;
  color: grey;
}

#navbar .profile {
  font-size: 32px;
  margin-right: 24px;
  color: grey;
}

/* Media Query untuk perangkat dengan lebar layar <= 768px */
@media (max-width: 768px) {
  #navbar .navbar-collapse {
    background-color: #ffffff;
  }

  #navbar .navbar {
    height: 80px;
  }

  #navbar .logo {
    margin-bottom: 15px;
    margin-left: 20px;
  }

  #navbar .navbar-nav {
    margin-left: 20px;
  }

  #navbar .input {
    width: 100%;
    border-radius: 15px;
  }

  #navbar .form-inline {
    margin-left: 20px;
    margin-top: 10px;
  }

  #navbar .filter {
    font-size: 20px;
    margin-right: 20px;
    border-style: none;
  }

  #navbar .profile {
    font-size: 30px;
    margin-left: 40px;
  }

  #navbar .cart,
  .bell,
  .massage {
    font-size: 20px;
    margin-left: 40px;
  }
}

/* Media Query untuk perangkat dengan lebar layar <= 576px */
@media (max-width: 576px) {
  #navbar .navbar-collapse {
    background-color: #ffffff;
  }

  #navbar .navbar {
    height: 75px;
  }

  #navbar .logo {
    margin-bottom: 15px;
    margin-left: 20px;
  }

  #navbar .navbar-nav {
    margin-left: 20px;
  }

  #navbar .input {
    width: 100%;
    border-radius: 15px;
  }

  #navbar .filter {
    font-size: 20px;
    margin-right: 15px;
    border-style: none;
  }

  #navbar .form-inline {
    margin-left: 15px;
    margin-top: 10px;
  }

  #navbar .profile {
    font-size: 28px;
    margin-left: 15px;
  }

  #navbar .cart,
  .bell,
  .massage {
    font-size: 20px;
    margin-left: 15px;
  }
}

/* ========================== end navnar ============================== */
/* ========================== page my bag ============================== */

#cart {
  margin-top: 90px;
}

#cart p {
  color: #9B9B9B;
}

#cart .title-categories {
  font-size: 34px;
  padding-bottom: 34px;
}

#cart .card-checkbox {
  border-radius: 4px;
  box-shadow: 0px 0px 8px 0px rgba(115, 115, 115, 0.25);
}

#cart .checkbox {
  margin-left: 20px;
}

/* items */
#cart .items {
  height: 64px;
  display: flex;
  align-items: center;
}

#cart .items a {
  text-decoration: none;
  color: #DB3022;
}

#cart .items a:hover {
  text-decoration: none;
  color: #ff1500;
}

#cart .btn-text {
  margin-left: 10px;
  margin-right: 500px;
  margin-top: 4px;
}

#cart .select-btn-items {
  display: flex;
  align-items: center;
}

/* product */
#cart .product {
  height: 126px;
  display: flex;
  align-items: center;
}

#cart .wrapper-img {
  margin-left: 5px;
}

#cart .wrapper-desc {
  margin-left: 10px;
  margin-top: 10px;
}

#cart .wrapper-product {
  display: flex;
  align-items: center;
  padding: 10px 10px;
}

/* sunmary */
#cart .card-form-summary {
  width: 370px;
  height: 180px;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 0px rgba(115, 115, 115, 0.25);
}

#cart .title-sumarry {
  font-weight: 600;
  font-size: 16px;
  margin-left: 15px;
  padding-top: 20px;
}

#cart .product-qty {
  margin-left: 50px;
}

#cart .price {
  margin-left: 50px;
}

#cart .total-price {
  margin-left: 50px;
}

#cart .text-total {
  margin-top: 5px;
  margin-left: 15px;
}

#cart .btn-buy {
  height: 36px;
  width: 322px;
  margin-left: 15px;
  border-radius: 25px;
  margin-top: 5px;
  color: white;
  background-color: #DB3022;

}

#cart .btn-buy:hover {
  color: white;
  background-color: #ff1500;
}

/* btn */
 .btn-mines {
  color: white;
  background-color: #D4D4D4;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  border: none;

}

 .btn-mines:hover {
  color: white;
  background-color: rgba(219, 48, 34, 1);
}

 .btn-plus {
  color: black;
  background-color: white;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  border: 1px solid;
  border-color: #9B9B9B;
}

 .btn-plus:hover {
  color: white;
  background-color: rgba(219, 48, 34, 1);
}

/* Media Query untuk tampilan handphone dengan lebar maksimum 480px */
@media only screen and (max-width: 480px) {
  #cart .checkbox {
    margin-left: 5px;
  }

  #cart .title-categories {
    font-size: 25px;
    padding-bottom: 17px;
  }

  #cart .items {
    height: auto;
  }

  #cart .btn-text {
    margin-right: 140px;
    padding: 10px 10px;
  }

  #cart .product {
    height: auto;
    padding-top: 10px;
  }

  #cart .wrapper-img {
    margin-left: 10px;
  }

  #cart .wrapper-desc {
    margin-left: 10px;
    flex-direction: column;
  }

  #cart .wrapper-product {
    display: block;
  }

  #cart .product-qty {
    margin-left: 5px;
  }

  #cart .price {
    margin-top: 20px;
    margin-left: 10px;
  }

  #cart .card-form-summary {
    width: auto;
  }
}

/* ========================= end my bag ========================== */

/* ========================== detail product page =======================  */

#detailProduct{
  padding-top: 110px;
}
#detailProduct .breadcrumb{
background-color: white;
}
#detailProduct .breadcrumb-item a{
    color: rgba(219, 48, 34, 1);
    text-decoration: none;
}
#detailProduct .breadcrumb-item a:hover{
    color:red;
}

#detailProduct .detailProduct .card {
  width: 367px;
  box-shadow: none;
}

#detailProduct .card-img-top {
  width: 100%;
  height: 378px;
  object-fit: cover;
  border-radius: 6px;
}

#detailProduct .card-body {
  padding: 20px;
}

#detailProduct .list-thumb {
  list-style: none;
  padding: 0;
}

.card-thumb.active {
  border: 2px solid black;
  border-radius: 6px;
}

.card-thumb {
  height: 65px;
  width: 65px;
  border-radius: 6px;
}

.card-thumb .img-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.title-detail {
  font-size: 28px;
  font-weight: 700;
  margin-top: 20px;
}

.title-store {
  font-size: 16px;
  font-weight: 500;
  color: grey;
}

.review {
  margin-top: 5px;
}

.stars {
  list-style: none;
  padding-left: 0;
}

.stars .list-star {
  margin-right: 4px;
}

.review-title {
  font-size: 12px;
  font-weight: 500;
  color: grey;
}

.price-detail {
  font-size: 33px;
  font-weight: 700;
  color: black;
}

/* color */

.title-color {
  color: black;
  font-weight: 600;
}

.list-colors {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.list-colors .list-color {
  margin-right: 10px;
}

.list-color .color {
  width: 36px;
  height: 36px;
}

/* size */

#detailProduct .wrapper-size {
  margin-right: 80px;
}

#detailProduct .title-detail-size {
  font-size: 16px;
  font-weight: 600;
  color: black;
  margin-bottom: 10px;
}

/* button */

#detailProduct .btn-chat {
  height: 48px;
  width: 100%;
  border-radius: 24px;
  border: 1px solid black;
  font-size: 14px;
  font-weight: 500;
}

#detailProduct .btn-chat:hover {
  background-color: grey;
  color: white;
  border: none;
}

#detailProduct .btn-add {
  height: 48px;
  width: 100%;
  border-radius: 24px;
  border: 1px solid black;
  font-size: 14px;
  font-weight: 500;
}

#detailProduct .btn-add:hover {
  background-color: gray;
  color: white;
  border: none;
}

#detailProduct .btn-buy {
  height: 48px;
  width: 100%;
  border-radius: 25px;
  background-color: rgba(219, 48, 34, 1);
  color: white;
  font-size: 14px;
  font-weight: 500;
}

#detailProduct .btn-buy:hover {
  background-color: rgb(173, 0, 0);
  color: white;
}

/* end button */

.title-informasi {
  font-size: 28px;
  font-weight: 700px;
  color: black;
  padding-top: 28px;
}

.status {
  padding-top: 50px;
  font-size: 20px;
  color: #DB3022;
}

h5 {
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.desc-paragraph {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: grey;
}

.product-rate {
  font-size: 60px;
  font-weight: 500;
  line-height: 60px;
}

.per {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: grey;
}

.list-retes {
  list-style: none;
  padding: 0;
}

.list-retes .list-rate {
  margin-right: 3px;
}

.rate-ratings {
  list-style: none;
  padding: 0;
}

.rate-ratings .rate-list {
  margin: 0;
  padding: 0;
}

.progress {
  width: 120px;
  height: 5px;
  background-color: grey;
  margin: 0 20px;
}

.progress .progress-bar {
  width: 100%;

}

.fix-rate {
  font-size: 14px;
  font-weight: 500;
  color: grey;
  margin: 0;
}

.title-head {
  font-size: 34px;
  font-weight: 700;
  color: black;
}

.subtitle-head {
  font-size: 16px;
  font-weight: 400;
  color: grey;
}

.card-product {
  height: 248px;
  width: 208px;
  border-radius: 8px;
  margin-right: 20px;
  box-shadow: 0px 0px 14px 0px rgba(173, 173, 173, 0.25);
}

.card-product .card-body {
  padding: 10px;
}

.card-product .card-text {
  margin-bottom: 10px;
}

.title-product {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: black;
}

.btn-card-product {
  width: 100%;
  border-radius: 8px;
}

#detailProduct .card {
  width: 208px;
  border-radius: 8px;
  margin-right: 25px;
  margin-top: 25px;
  box-sizing: border-box;
  box-shadow: 0px 0px 14px 0px rgba(173, 173, 173, 0.25);
  border: none;
}

#detailProduct .wrapper-column {
  padding: 0 30px;
}

#detailProduct .informasiProduct {
  margin: 30px 0;
}



/* =========== end detail product =============== */

/* ================================ checkout ================================== */
#checkout {
  margin-top: 130px;
}

#checkout .modal-body {
  padding: 0 40px 40px 40px;
}

#checkout .modal-title {
  font-size: 28px;
  font-weight: 600;
}

#checkout .wrapper-content-address {
  box-sizing: border-box;
  width: 710px;
  height: 86px;
  border: 1px dashed grey;
  border-radius: 8px;
  margin-left: 20px;
}

#checkout .modal-header,
.modal-footer {
  border: none;
}

#checkout .modal-new-address {
  width: 100%;
  background-color: white;
  padding: 30px 0;
  border: 1px dashed grey;
  border-radius: 8px;
  margin: 0;

  font-size: 16px;
  font-weight: 600;
  color: grey;
}

#checkout .modal-change-address {
  width: 100%;
  background-color: white;
  border: 1px solid rgba(219, 48, 34, 1);
  padding: 20px;
  margin: 0;

  font-size: 16px;
  font-weight: 600;
  color: grey;
}

#checkout .sub-address-modal {
  font-size: 14px;
  font-weight: 400;
  color: black;
}

#checkout .btn-change-address {
  background-color: white;
  border: none;
  color: rgba(219, 48, 34, 1);

  font-size: 14px;
  font-weight: 600;
}

#checkout .form-label {
  font-size: 14px;
  font-weight: 400;
  color: grey;
}

#checkout .form-control {
  width: 100%;
}

#checkout .desc-checkbox {
  font-size: 14px;
  font-weight: 400;

  color: grey;
}

#checkout .btn-cancel {
  background-color: white;
  border-radius: 20px;
  border: 1px solid grey;
  padding: 6px 50px;

  font-size: 14px;
  font-weight: 500;
}

#checkout .btn-cancel:hover {
  background-color: grey;
  color: white;
}

#checkout .btn-save {
  color: white;
  background-color: rgba(219, 48, 34, 1);
  border: none;
  border-radius: 20px;
  padding: 6px 50px;

  font-size: 14px;
  font-weight: 500;
}

#checkout .btn-save:hover {
  color: white;
  background-color: rgb(173, 0, 0);
}

#checkout .modal-footer {
  padding-top: 0;
  padding-right: 35px;
  padding-bottom: 30px;
}

#checkout .card-wrapper {
  width: 100%;

  box-shadow: 0px 0px 8px 0px rgba(115, 115, 115, 0.25);
  padding: 30px;
  background-color: white;
}

#checkout .list-checkouts .list-checkout .prices {
  width: 100%;
}

#checkout .list-checkout {
  width: 100%;
  padding: 30px;
  margin-bottom: 0;
  box-shadow: 0px 0px 8px 0px rgba(115, 115, 115, 0.25);
}

#checkout .wrapper-img-checkbox {
  width: 70px;
  height: 70px;
  border-radius: 8px;
}

#checkout .wrapper-img-checkbox .img-cart {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

#checkout .title-heading {
  font-weight: 700;
}

#checkout .price {
  font-size: 16px;
  font-weight: 600;
  color: black;
}

#checkout .sub-shopping {
  font-size: 16px;
  font-weight: 500;
  color: black;
  margin-bottom: 0;
}

#checkout #payment .modal-body {
  padding: 0;
  background-color: lightgrey;
}

#checkout #payment .modal-title {
  font-size: 22px;
  font-weight: 500;
}

#checkout #payment .container-title {
  background-color: white;
  padding: 0;
}

#checkout #payment .container-title h5 {
  font-size: 16px;
  font-weight: 600;

  padding-left: 20px;
}

#checkout #payment .list-payments {
  background-color: white;
  margin: 0;
  list-style: none;
  padding: 0;
}

#checkout #payment .list-order {
  padding: 4px 8px;
}

#checkout #payment .list-order .price {
  font-weight: 700;
}

#checkout #payment .list-payments .list-payment {
  padding: 15px 20px;
}

#checkout #payment .list-payments .list-payment .payment-name {
  color: black;
  margin-left: 15px;
  font-size: 16px;
  font-weight: 600;
}

#checkout #payment .modal-header {
  box-shadow: 0px 0px 6px 0px rgba(53, 50, 50, 0.25);
  padding: 20px 20px;
}

#checkout #payment .modal-footer {
  padding: 15px;
  box-shadow: 0px -8px 10px 0px rgba(217, 217, 217, 0.25);
}

#checkout .heading {
  font-size: 34px;
  font-weight: 700;
  line-height: 34px;
}

#checkout .sub-heading {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

#checkout .grand-total {
  font-size: 20px;
  font-weight: 700;
}

#checkout #payment .modal-footer .wrapper-total .title-grand {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
}

#checkout #payment .modal-footer .wrapper-total .grand-total-font {
  font-size: 22px;
  font-weight: 700;
}

#checkout .sub-address {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

#checkout .btn-address {
  height: 36px;
  width: 210px;
  border-radius: 24px;
  border: 1px solid grey;
}

#checkout .btn-address:hover {
  background-color: grey;
  color: white;
}

#checkout .wrapper {
  height: 69px;
  width: 70px;
  border-radius: 8px;
}

#checkout .wrapper .image-wrapper {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
}

#checkout .list-checkouts,
.list-shoppings {
  list-style: none;
  padding: 0;
  margin: 0;
}

#checkout.list-shopping {
  padding-top: -10px;
}

#checkout .btn-checkout {
  width: 100%;
  height: 36px;
  font-size: 14px;
  font-weight: 500;
  background-color: rgba(219, 48, 34, 1);
  color: white;
  border-radius: 25px;
}

#checkout .btn-checkout:hover {
  background-color: rgb(173, 0, 0);
  color: white;
}

/* ======================================= end checkout ============================ */


/* =============================== Sidebar ====================================== */
/*  profile */
.sidebar {
  background-color: white;
  padding: 150px 30px 30px 30px;
  box-sizing: border-box;
  flex-direction: column;
}

.btn-profile,
.wrapper-img-profile {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.wrapper-img a {
  color: rgba(219, 48, 34, 1);
}

.profile-img {
  width: 100%;
  border-radius: 50%;
}

.profile-images {
  height: 60px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.main {
  margin-top: 70px;
}

.main .list-item {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 6px;
  transition: 0.1s ease-in-out;
}

.main .list-item:hover {
  background-color: rgba(219, 48, 34, 1);
  border-radius: 10px;
}

.icon-profile {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  padding: 8px;
  transition: 0.1s ease-in-out;
}

.preferensi {
  margin-left: 20px;
  font-size: 16px;
}

.main .description {
  font-size: 14px;
  font-weight: 500;
  color: grey;
  margin-left: 10px;
}

.main .description.active {
  color: black;
}

.main .link .description:hover {
  color: white;
}

/* ==================================  end sidebar =================================== */

/* ========================================= main content =================================== */
.main-content {
  overflow-y: scroll;
  padding: 150px 30px 30px 45px;
  background-color: #F5F5F5;
}

.main-content .wrapper-card {
  height: 636px;
  width: 850px;
  border-radius: 4px;
  border: 1px solid rgba(155, 155, 155, 1);
  padding: 30px;
  background-color: white;
  box-sizing: border-box;
}

.main-content .form-control {
  height: 48px;
  width: 348px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.main-content .col-form-label {
  font-size: 14px;
  font-weight: 500;
  color: grey;
}

.main-content .btn-save {
  height: 36px;
  width: 100px;
  border-radius: 25px;
  background-color: rgba(219, 48, 34, 1);
  color: white;
  margin-left: 200px;
  font-size: 14px;
  font-weight: 500;
}

.main-content .btn-save:hover {
  background-color: rgb(173, 0, 0);
  color: white;
}

.main-content .form-select {
  font-size: 14px;
  font-weight: 500;
  color: grey;
}

.main-content .upload-img input {
  display: none;
}

.main-content .btn-upload {
  height: 36px;
  width: 140px;
  border-radius: 24px;
  border: 1px solid rgba(155, 155, 155, 1);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  padding: 8px 27px;
  color: grey;
}

.main-content .preview-profile-img {
  height: 110px;
  width: 110px;
  border-radius: 50%;
}

.main-content .btn-upload:hover {
  background-color: grey;
  color: white;
  border: none;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.main-content .wrapper-content {
  padding: 0 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-content .wrapper-content-address {
  box-sizing: border-box;
  width: 710px;
  height: 86px;
  border: 1px dashed gray;
  border-radius: 8px;
}

.main-content .wrapper-content-exist {
  width: 710px;
  height: 170px;
  padding: 25px;
  border-radius: 4px;
}

.main-content .aliasname {
  font-size: 16px;
  font-weight: 600;
}


.main-content th {
  font-size: 16px;
  font-weight: 400;
  color: grey;
}



/* ========================================= end main content Prodfile ========================  */